body{ font-family: 'ProximaNovaLtLight';}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-default{
  transition:500ms ease;
  background-color:#ffffff !important;
       color: #000000!important;
    border:none !important;
    padding:10px;
    min-height:75px !important;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}


 .navbar-nav
{
      font-family: 'ProximaNovaSemibold';
     font-size:18px;
}
.logo
{
    width:200px;
    margin-top:-15px;
}
#side
{
    margin-left:80px;
}
 .navbar-nav>li a:hover
{
    color:#000000 !important;
    border-bottom:2px solid red;
}
.social
{
   display:inline-block;
    margin-left:30px;
    padding:10px 20px;
    font-size:20px;
}
.fa
{
    padding:0px 10px;
        color: #777;
}

.fa.scrolled
{
    color:#ffffff;
}
.black
{
    background-color:#000000;
    opacity:0.9;
    min-height:100vh;
}
.main
{
    background-image: url(../images/slider_background.jpg);
    min-height:100vh;
    background-size: cover!important;
        position: relative;
}
.main ul>li
{
    display: inline;
    padding:5px 20px;
}
section
{
    padding:70px 0px;
}
.textborder
{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border:1px solid #EFEDF4;
    border-radius:10px 50px;
    padding:20px;
}
 .imgs
{
    margin-top:-50px;
}
p
{
     font-family: 'ProximaNovaLtLight';
    font-size:18px;
    line-height:30px;
    color:#14132e;
    font-weight:400;
}
.main h1 {
    font-family: ProximaNovaBold;
    color: #ffffff;
    font-size:60px;
    text-align:center;
        padding-top:200px;
        line-height:60px;
}
.main  h2 {
    font-family: 'ProximaNovaSemibold';
    color: #ffffff;
     font-size:30px;
    text-shadow: 1px 2px #000000;
    text-align: center;
     line-height:30px;
}  
.whatwe
{
    background-color:#5C719A;
}
.academics h3,.whatwe h3,.about h3
{
    font-family: 'ProximaNovaSemibold';
    color: #000000;
     font-size:20px;
    text-align: center;
     line-height:30px;
}


.border
{
    border:1px solid #f1f1f1;
     background-color:#ffffff;
    
}
.about h1,.academics h1
{
     font-family: 'ProximaNovaBold';
     color: #342d4f;
    text-align:center;
}
.whatwe h1
{
     font-family: 'ProximaNovaBold';
     color: #ffffff;
    text-align:center;  
}
.bord
{
    border:2px solid #5c719a;
}
.bord:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button {
  background-color:yellow; /* Green */
  border: none;
  color: #000000;
  padding: 10px;
    border-radius:6px;
  text-align: center;
 font-family: 'ProximaNovaSemibold';
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color:green; /* Green */
  border: none;
  color: #ffffff;
  padding: 10px;
    border-radius:6px;
  text-align: center;
 font-family: 'ProximaNovaSemibold';
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.border{
  transition: 0.3s;
  width: 100%;
   margin-top:50px;
  padding:10px 20px;
    border-radius:8px;
}

.border img
{
    max-width:320px;
}
.border p
{
    font-size:18px;
    line-height:30px;
}
.text p
{
    font-size:16px;
    line-height:25px;
}
.rightborder
{
    border-right:1px solid #f1f1f1;
}
.card {
  transition: 0.3s;
  width: 100%;
    padding:10px 20px;
    cursor: pointer;
    margin-top:10px;
}
.about ul>li
{
    font-family: 'ProximaNovaLtLight';
    font-size:18px;
    line-height:30px;
}
.academics ul>li
{

    font-family: 'ProximaNovaLtLight';
    font-size:18px;
    padding:10px 30px;
    line-height:30px;
    border:1px solid #f1f1f1;
    display: inline-block;
    margin:10px 5px;
}
.academics ul>li:hover
{
    border:1px solid green;
}

.academics span
{
    font-family: 'ProximaNovaSemibold';
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.white
{
    background-color:#ffffff;
    line-height:20px;
    font-size:16px;
    margin-top:10px;
}
footer
{
    padding:10px;
    background-color:#333333;
    min-height:150px;
    z-index:-1000;
    color:#CACACA;
    font-family: 'ProximaNovaRgRegular';
}
footer ul>li
{
    display:inline-block;
    padding:10px 15px;
    font-size:16px;
    cursor: pointer;
}
footer p
{
    font-family: 'ProximaNovaRgRegular';
    color:#CACACA;
    
}

footer h4
{
    font-family: 'ProximaNovaSemibold';
    padding:5px 0px;
    width:50%;
    color:#E7CB3D;
    border
}
.border label
{
    font-family: 'ProximaNovaSemibold'; 
     font-size:18px;
}
 .info h2
    {
       font-family: 'ProximaNovaSemibold';
       color: #14132e;
     font-size:22px;
        text-align: center;
     line-height:30px;  
    }
.touch
{
font-family: 'ProximaNovaRgRegular';
    font-size:18px;
}
#table td {
  padding:15px 0px;
}
.pad
{
    padding:10px 30px;
}
#borderimg1 { 
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.png) 40 stretch; /* Opera 11-12.1 */
  border-image: url(../images/border.png) 30 stretch;
}
.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        min-height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
 .inputed {
        background-color: #efefef;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        min-width: 100px;
     width:100%;
      }
 #inputed:focus {
        border-color: #4d90fe;
      }
@media only screen and (max-width: 600px) {
    .main
    {
        min-height:20vh;
    }
    .black
{

    min-height:20vh;
}
.main h1 {
    font-family: 'ProximaNovaBold';
    color: #ffffff;
    font-size:28px;
    text-align:center;
        padding-top:150px;
        line-height:30px;
}
.main  h2, {
    font-family: 'ProximaNovaSemibold';
    color: #ffffff;
     font-size:18px;
    text-align: center;
     line-height:30px;
} 
   
   
    .main ul>li
{
    display: inline;
    padding:5px 10px;
}
    section
    {
        padding:20px 0px;
    }
    p
   {
     font-family: 'ProximaNovaLtLight';
    font-size:16px;
    line-height:30px;
    color:#14132e;
    font-weight:400;
}
 .textborder
{
      box-shadow:none;
    border:none;
    padding:0px;
}   
    .border
    {
        padding:0px;
    }
}