body{ font-family: 'ProximaNovaLtLight';}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-default{
  transition:500ms ease;
  background-color:#ffffff !important;
       color: #000000!important;
    border:none !important;
    padding:10px;
    min-height:75px !important;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}


 .navbar-nav
{
      font-family: 'ProximaNovaSemibold';
     font-size:18px;
}
.logo
{
    width:200px;
    margin-top:-15px;
}
#side
{
    margin-left:80px;
}
 .navbar-nav>li a:hover
{
    color:#000000 !important;
    border-bottom:2px solid red;
}
.social
{
   display:inline-block;
    margin-left:30px;
    padding:10px 20px;
    font-size:20px;
}
.fa
{
    padding:0px 10px;
        color: #777;
}

.fa.scrolled
{
    color:#ffffff;
}
.main
{
    background-image: url(../images/slider_background.jpg);
    min-height:100vh;
    background-size: cover!important;
        position: relative;
}
p
{
     font-family: 'ProximaNovaLtLight';
    font-size:16px;
    line-height:25px;
}
.main h1 {
    font-family: 'ProximaNovaBold';
    color: #ffffff;
    text-align:center;
        padding-top:150px;
        line-height:30px;
}
.main  h2 {
    font-family: 'ProximaNovaSemibold';
    color: #ffffff;
     font-size:20px;
    text-shadow: 1px 2px #000000;
    text-align: center;
     line-height:30px;
}  
.about h1
{
     font-family: 'ProximaNovaBold';
     color: #777;
    margin-top:50px;
    text-align:center;
}

.button {
  background-color:yellow; /* Green */
  border: none;
  color: #000000;
  padding: 10px;
    border-radius:6px;
  text-align: center;
    font-family: 'ProximaNovaSemibold';
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.border{
  transition: 0.3s;
  width: 100%;
    margin-top:50px;
    border:1px solid #f6f5f2;
  padding:0px 20px;
    border-radius:8px;
}
@media only screen and (max-width: 600px) {
.main h1 {
    font-family: 'ProximaNovaBold';
    color: #ffffff;
    font-size:28px;
    text-align:center;
        padding-top:150px;
        line-height:30px;
}
.main  h2 {
    font-family: 'ProximaNovaSemibold';
    color: #ffffff;
     font-size:18px;
    text-align: center;
     line-height:30px;
} 
}