RewriteEngine on

RewriteRule ^quest/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9]+)$ quest.php?cat=$1&sub=$2&page=$3 [NC,L]

RewriteRule ^quants/([0-9a-zA-Z_-]+)$ quants.php?cat=$1 [NC,L]

RewriteRule ^topic/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/(.+)$ topic.php?cat=$1&sub=$2&qns=$3 [NC,L]
